<div class="container-fluid">
    <div class="row text-center ima1">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="position-relative">
            <img src="./assets/imagenes/banner.jpg" class="img-fluid" alt="Imagen de banner Puente Angostura Venezuela">   
                <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal2"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
            </div>
            <app-bannermodal></app-bannermodal>
        </div>
    </div>
    </div>
