<div class="container-fluid">
    <div class="row">
      <h2>Proyectos</h2>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <h3>Proyecto-1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ex impedit, voluptatibus molestiae consectetur fugiat voluptatem ab modi delectus ducimus nam maxime officia ut laborum, neque, obcaecati ad vel cum.</p>
        <img id="imgl" src="./assets/imagenes/proyecto1.png" alt="Imagen de proyecto 1" class="img-fluid">
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal9"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>
            <app-proyectosmodal></app-proyectosmodal>  
          </div>
      </div>
    </div>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <h3>Proyecto-2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ex impedit, voluptatibus molestiae consectetur fugiat voluptatem ab modi delectus ducimus nam maxime officia ut laborum, neque, obcaecati ad vel cum.</p>
        <img id="imgl" src="./assets/imagenes/proyecto2.png" alt="Imagen de proyecto 2" class="img-fluid">
        <p>https://tp-javascript-noelisfiguera.noefa.repl.co/</p>
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal9"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>
                </div>
      </div>
    </div>
    </div>
</div>
