<div class="container-fluid">
    <div class="row">
        <h2>Experiencia</h2>
    </div>
    <div class="position-relative">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
          <img id="imgl" class="img-fluid" src="./assets/imagenes/empresa1.png" alt="Imagen de la empresa 1">
          <h3>Trabajo-1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure tempora cupiditate recusandae alias quia aperiam voluptas nulla, accusantium, temporibus pariatur? Sunt inventore quas debitis commodi ipsum ducimus quod ipsa.</p>
        <div class="position-absolute top-0 end-0">
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal6"><i class="fa-solid fa-pen-to-square"></i></a>
          <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>
              <app-experienciamodal></app-experienciamodal>
        </div>
      </div>
      </div>
    </div>
    <div class="position-relative">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
          <img id="imgl" class="img-fluid" src="./assets/imagenes/empresa1.png" alt="Imagen de la empresa 2">
          <h3>Trabajo-2</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure tempora cupiditate recusandae alias quia aperiam voluptas nulla, accusantium, temporibus pariatur? Sunt inventore quas debitis commodi ipsum ducimus quod ipsa.</p>
          <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal6"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>
                </div>
        </div>
        </div>
      </div>
    </div>
