<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 columna">
            <div class="position-relative">
          <img id="fotodeperfil" class="img-fluid text-center" src="./assets/imagenes/imgperfil.jpg" alt="Foto de Perfil">
          <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal3"><i class="fa-solid fa-pen-to-square"></i></a>
            <app-foto></app-foto>
        </div>
        </div>
            
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 columna text-center">
            <div class="position-relative">
            <p><b>Noelis Figuera</b></p>
            <p><b>Full Stack Developer</b></p>
            <p><b>Ingeniero De Minas</b></p>
            <div class="position-absolute top-0 end-0">
                <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal4"><i class="fa-solid fa-pen-to-square"></i></a>
                    <app-datospersonales></app-datospersonales>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 columna">
            <span>
                <div class="position-relative">
                <h1>Acerca De Mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus illo reiciendis veritatis modi in animi totam hic consequatur unde! Accusantium facere recusandae deleniti consequuntur itaque quasi asperiores vel hic iure.</p>
                <div class="position-absolute top-0 end-0">
                    <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal5"><i class="fa-solid fa-pen-to-square"></i></a>
                        <app-acerca></app-acerca>
                </div>
            </div>
            </span>   
        </div>
    </div>
    </div>
