<div class="row columna-1">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand barra" href="#">
            <img src="./assets/imagenes/logo-argentina-programa.jpg" alt="Logo" width="18%" height="18%" class="d-inline-block align-text-top rounded">
            #YoProgramo</a>
          <div class="float-end">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <app-redes></app-redes>
              <app-button-logout></app-button-logout>
            </div>
          </div>
          </div>
        </div>
      </nav>
      
    </div>
  </div>
