<div class="modal fade" id="miModal9" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Proyectos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="mb-3">
                          <label for="formFileSm" class="form-label">Seleccione una Imagen</label>
                          <input class="form-control form-control-sm" id="formFileSm" type="file" required>
                        </div>
                      </div>
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre Proyecto</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                      </div>
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de Realización</span>
                        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                      </div>
                      <div class="input-group">
                        <span class="input-group-text">Descripción</span>
                        <textarea class="form-control" aria-label="With textarea" required></textarea>
                      </div>
                </form>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Borrar Proyecto</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>  
</div>

