<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="https://github.com/noelisfa"><i class="fa-brands fa-github"></i></a>
      <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/noelis-figuera-338079115/"><i class="fa-brands fa-linkedin"></i></a>
      <a class="nav-link active" aria-current="page" href="mailto:noelisf@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>
