<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 columna">
      <img [src]="miPortfolio.foto" id="fotodeperfil" class="img-fluid text-center"  alt="Foto de Perfil">
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 columna text-center">
        <p><b>{{nombre}} {{apellido}}</b></p>
        <p><b>{{profesion1}}</b></p>
        <p><b>{{profesion2}}</b></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 columna">
        <span>
            <h1>Acerca De Mí</h1>
            <p>{{acerca}}</p>
        </span>   
    </div>
</div>
</div>
