<div class="container-fluid">
    <div class="row">
      <h2>Hard and Soft Skills</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center columna">
        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% Trabajo en Equipo</div>
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal8"><i class="fa-solid fa-pen-to-square"></i></a>
          <app-skillsmodal></app-skillsmodal>
        </div> 
          <div class="progress mb-3">  
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Animated success striped example" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% Manejo del Tiempo</div>
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal8"><i class="fa-solid fa-pen-to-square"></i></a>
          
        </div>
        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-label="Animated Info striped example" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60% Inglés</div>
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal8"><i class="fa-solid fa-pen-to-square"></i></a>
         
        </div>
        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated Warning striped example" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70% HTML</div>
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal8"><i class="fa-solid fa-pen-to-square"></i></a>
          
        </div>
        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-label="Animated Danger striped example" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65% CSS</div>
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal8"><i class="fa-solid fa-pen-to-square"></i></a>
          
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" aria-label="Animated secondary striped example" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60% JavaScript</div>
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal8"><i class="fa-solid fa-pen-to-square"></i></a>
          
        </div>
           </div>
    </div>
    </div>
